.container h1 {
    color: #fff;
}

.user-details {
    margin-bottom: 20px;
}

.user-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.user-details p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

.user-history {
    margin-bottom: 20px;
}

.user-history h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.user-history ul {
    list-style-type: none;
    padding: 0;
}

.user-history li {
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
}

.ribbon {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.ribbon .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
    /* Adjust height as needed */
}

.dropdown {
    position: relative;
    height: 100px;
}

.dropdown .dropbtn {
    background-color: #333;
    color: #fff;
    padding: 25px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 120px;
    right: 0;
    top: 100%;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Grid layout for the dashboard */
#dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 50px 50px;
    margin-top: 80px;
    margin-left: 200px;
    /* Adjust based on sidebar width */
    width: calc(92% - 200px);
    /* Adjust based on sidebar width */
    /* Adjust according to the height of the ribbon */
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 2px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    /* Make the table scrollable */
}

/* Example styles for tables and graphs */
table {
    width: 100%;
    border-collapse: collapse;
}

.table-container {
    overflow: auto;
    max-height: 350px;
    /* Adjust the height as needed */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

.graph {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    border-radius: 5px;
}

.camera-image {
    height: 10px;
    scale: 90%;
    border-radius: 5px;
}

/* Styles for the sidebar menu */
#sidebar {
    position: fixed;
    top: 120px;
    /* Adjust based on the ribbon height */
    left: 0;
    width: 200px;
    height: calc(100vh - 100px);
    /* Adjust based on the ribbon height */
    background-color: #333;
    color: #fff;
    padding: 20px;
    z-index: 1000;
}

#sidebar h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar li {
    margin-bottom: 10px;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

#sidebar a:hover {
    text-decoration: underline;
}