body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

/* CSS for the hero section */
#hero h1 {
    font-size: 64px;
    /* Increased font size */
    font-weight: bold;
    /* Made the text bold */
}

.section {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: bottom;
}

.container {
    text-align: center;
}

.container h1,
.container h2,
.container p {
    margin: 0;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.container h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.container p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p,
footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li:last-child {
    margin-right: 0;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style for the login button */
.login-button a {
    background-color: #FF6F61;
    padding: 10px 20px;
    border-radius: 5px;
}

.login-button a:hover {
    background-color: #e05648;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}