/* Style for the header */
#header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    background-color: #333; /* Dark background for header */
    padding: 20px 0;
    margin-bottom: 20px;
}

/* Style for the tree container */
#tree {
    width: 100%;
    height: calc(100vh - 80px); /* Adjust height to make space for the header */
}

/* Style for the toggle mode button */
#toggleModeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#toggleModeButton.light {
    background-color: #ddd;
    color: #333;
}

/* Adjust for smaller screens */
@media (max-width: 600px) {
    #header {
        font-size: 24px; /* Smaller font size for header on mobile */
    }

    #toggleModeButton {
        font-size: 12px; /* Smaller button text */
    }
}
